In [9]:
import pandas as pd
import geopandas as gpd
import fitz  # Esta es la biblioteca PyMuPDF

In [8]:

# Abrir 'taxi_zones.dbf'
df_taxi_zones = gpd.read_file('Datasets/taxi_zones.dbf')

# Visualizar en un GeoDataFrame de geopandas
df_taxi_zones

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,geometry
0,1,0.116357,0.000782,Newark Airport,1,EWR,None
1,2,0.433470,0.004866,Jamaica Bay,2,Queens,None
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,None
3,4,0.043567,0.000112,Alphabet City,4,Manhattan,None
4,5,0.092146,0.000498,Arden Heights,5,Staten Island,None
...,...,...,...,...,...,...,...
258,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx,None
259,260,0.133514,0.000422,Woodside,260,Queens,None
260,261,0.027120,0.000034,World Trade Center,261,Manhattan,None
261,262,0.049064,0.000122,Yorkville East,262,Manhattan,None
262,263,0.037017,0.000066,Yorkville West,263,Manhattan,None

In [12]:

def read_pdf(file_path):
    # Abre el archivo PDF
    pdf_document = fitz.open(file_path)

    # Itera sobre las páginas del PDF
    for page_number in range(pdf_document.page_count):
        # Obtiene la página actual
        page = pdf_document[page_number]

        # Extrae el texto de la página
        text = page.get_text()

        # Imprime o haz lo que necesites con el texto de la página
        print(f"Texto en la página {page_number + 1}:\n{text}\n")

    # Cierra el archivo PDF
    pdf_document.close()

# Reemplaza 'ruta/del/archivo.pdf' con la ruta de tu archivo PDF
read_pdf('Datasets\data_dictionary_trip_records_yellow.pdf')

Texto en la página 1:
Data Dictionary – Yellow Taxi Trip Records
May 11, 2022

Page 1 of 2

This data dictionary describes yellow taxi trip data.  For a dictionary describing green taxi data, or a map
of the TLC Taxi Zones, please visit http://www.nyc.gov/html/tlc/html/about/trip_record_data.shtml.
Field Name

Description
VendorID
A code indicating the TPEP provider that provided the record.

1= Creative Mobile Technologies, LLC; 2= VeriFone Inc.
tpep_pickup_datetime
The date and time when the meter was engaged.
tpep_dropoff_datetime
The date and time when the meter was disengaged.
Passenger_count
The number of passengers in the vehicle.

This is a driver-entered value.
Trip_distance
The elapsed trip distance in miles reported by the taximeter.
PULocationID
TLC Taxi Zone in which the taximeter was engaged
DOLocationID
TLC Taxi Zone in which the taximeter was disengaged
RateCodeID
The final rate code in effect at the end of the trip.

1= Standard rate
2=JFK
3=Newark
4=Nassau or Westchester
5=Negotiated fare
6=Group ride
Store_and_fwd_flag
This flag indicates whether the trip record was held in vehicle
memory before sending to the vendor, aka “store and forward,”
because the vehicle did not have a connection to the server.

Y= store and forward trip
N= not a store and forward trip
Payment_type
A numeric code signifying how the passenger paid for the trip.
1= Credit card
2= Cash
3= No charge
4= Dispute
5= Unknown
6= Voided trip
Fare_amount
The time-and-distance fare calculated by the meter.
Extra
Miscellaneous extras and surcharges.  Currently, this only includes
the $0.50 and $1 rush hour and overnight charges.
MTA_tax
$0.50 MTA tax that is automatically triggered based on the metered
rate in use.
Improvement_surcharge
$0.30 improvement surcharge assessed trips at the flag drop. The
improvement surcharge began being levied in 2015.
Tip_amount
Tip amount – This field is automatically populated for credit card
tips. Cash tips are not included.
Tolls_amount
Total amount of all tolls paid in trip.
Total_amount
The total amount charged to passengers. Does not include cash tips.
Congestion_Surcharge
Total amount collected in trip for NYS congestion surcharge.
Airport_fee
$1.25 for pick up only at LaGuardia and John F. Kennedy Airports


Texto en la página 2:
Data Dictionary – Yellow Taxi Trip Records
May 11, 2022

Page 2 of 2

In [19]:
df_Alt_Fuel_Vehicles = pd.read_csv('Datasets\Alternative Fuel Vehicles US.csv')
df_Alt_Fuel_Vehicles.head(5)

,Category,Model,Model Year,Manufacturer,Fuel,All-Electric Range,PHEV Total Range,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,...,Conventional Fuel Economy Combined,Transmission Type,Transmission Make,Engine Type,Engine Size,Engine Cylinder Count,Number of Passengers,Heavy-Duty Power System,Notes,Drivetrain
0,Sedan/Wagon,NSX,2022.0,Acura,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,...,21.0,Auto,NaN,SI,3.5L,6.0,NaN,NaN,NaN,AWD
1,Sedan/Wagon,A3,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,...,32.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,FWD
2,Sedan/Wagon,A3 quattro,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,...,31.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,AWD
3,Sedan/Wagon,A4 allroad quattro,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,...,26.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,AWD
4,Sedan/Wagon,A4 quattro,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,...,29.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,AWD

In [20]:
df_Elect_Alt_Fuel_Charging_Station = pd.read_csv('Datasets\Electric and Alternative Fuel Charging Stations.csv')
df_Elect_Alt_Fuel_Charging_Station.head(5)

C:\Users\Heidi\AppData\Local\Temp\ipykernel_6948\2870536734.py:1: DtypeWarning: Columns (6,16,20,31,33,36,39,40,41,43,46,52,53,55,57,58,60,62) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Elect_Alt_Fuel_Charging_Station = pd.read_csv('Datasets\Electric and Alternative Fuel Charging Stations.csv')

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,MD,NaN,NaN,NaN
1,CNG,PS Energy - Atlanta,340 Whitehall St,"From I-7585 N, exit 91 to Central Ave, left on...",Atlanta,GA,30303,NaN,770-350-3000,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False
2,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,Atlanta,GA,30324,NaN,NaN,E,...,NaN,NaN,NaN,NaN,Q,3000,LD,NaN,NaN,NaN
3,CNG,United Parcel Service,270 Marvin Miller Dr,NaN,Atlanta,GA,30336,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,HD,NaN,NaN,NaN
4,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,NaN,Fort Smith,AR,72903,NaN,479-783-3188,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False

In [21]:
df_Elect_Car_Clean = pd.read_csv('Datasets\ElectricCarData_Clean.csv')
df_Elect_Car_Clean.head(5)

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997

In [22]:
df_Elect_Car_Norm = pd.read_csv('Datasets\ElectricCarData_Norm.csv')
df_Elect_Car_Norm.head(5)

,Brand,Model,Accel,TopSpeed,Range,Efficiency,FastCharge,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6 sec,233 km/h,450 km,161 Wh/km,940 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0 sec,160 km/h,270 km,167 Wh/km,250 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7 sec,210 km/h,400 km,181 Wh/km,620 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8 sec,180 km/h,360 km,206 Wh/km,560 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5 sec,145 km/h,170 km,168 Wh/km,190 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,Hatchback,B,4,32997

In [23]:
df_Light_Duty_Vehicles = pd.read_csv('Datasets\Light Duty Vehicles.csv')
df_Light_Duty_Vehicles.head(5)

,Vehicle ID,Fuel ID,Fuel Configuration ID,Manufacturer ID,Category ID,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,...,Manufacturer URL,Category,Fuel Code,Fuel,Fuel Configuration Name,Electric-Only Range,PHEV Total Range,PHEV Type,Notes,Drivetrain
0,13044,45,9.0,365,27,NSX,2022,NaN,NaN,NaN,...,http://www.acura.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
1,12854,45,9.0,377,27,A3,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,FWD
2,12842,45,9.0,377,27,A3 quattro,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
3,12783,45,9.0,377,27,A4 allroad quattro,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
4,12782,45,9.0,377,27,A4 quattro,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD

In [28]:
df_taxi_zone_lookup = pd.read_csv('Datasets\\taxi+_zone_lookup.csv')
df_taxi_zone_lookup.head(5)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [29]:

df_Vehicle_Fuel_Economy = pd.read_csv('Datasets\Vehicle Fuel Economy Data.csv')
df_Vehicle_Fuel_Economy.head(5)

C:\Users\Heidi\AppData\Local\Temp\ipykernel_6948\2438354763.py:1: DtypeWarning: Columns (73,75) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Vehicle_Fuel_Economy = pd.read_csv('Datasets\Vehicle Fuel Economy Data.csv')

,Year,Manufacturer,Model,barrels08,barrelsA08,charge240,city08,city08U,cityA08,cityA08U,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,2017,BMW,M6 Coupe,17.500588,0.0,0.0,15.0,14.0,0.0,0.0,...,BMX,NaN,0.0,NaN,04-04-2016,09-09-2016,Y,0.0,0.0,0.0
1,2017,BMW,X3 sDrive28i,12.396250,0.0,0.0,21.0,21.0,0.0,0.0,...,BMX,NaN,0.0,NaN,04-04-2016,22-11-2016,Y,0.0,0.0,0.0
2,2016,Infiniti,Q50S Red Sport,13.523182,0.0,0.0,20.0,19.0,0.0,0.0,...,NSX,NaN,0.0,NaN,04-04-2016,26-09-2016,N,0.0,0.0,0.0
3,2017,MINI,John Cooper Works Convertible,11.018889,0.0,0.0,24.0,23.0,0.0,0.0,...,BMX,NaN,0.0,NaN,12-04-2016,16-09-2016,Y,0.0,0.0,0.0
4,2017,Kia,Sedona SX,14.167143,0.0,0.0,18.0,18.0,0.0,0.0,...,KMX,NaN,0.0,NaN,12-04-2016,02-12-2016,N,0.0,0.0,0.0

In [33]:


# Especifica la ruta del archivo Parquet
ruta_archivo_parquet = 'Datasets\yellow_tripdata_2023-09.parquet' 

# Lee el archivo Parquet en un DataFrame de pandas
df_taxi_2023_09 = pd.read_parquet(ruta_archivo_parquet)

# Muestra las primeras filas del DataFrame
df_taxi_2023_09.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-09-01 00:15:37,2023-09-01 00:20:21,1.0,0.80,1.0,N,163,230,2,6.5,3.5,0.5,0.00,0.0,1.0,11.50,2.5,0.00
1,2,2023-09-01 00:18:40,2023-09-01 00:30:28,2.0,2.34,1.0,N,236,233,1,14.2,1.0,0.5,2.00,0.0,1.0,21.20,2.5,0.00
2,2,2023-09-01 00:35:01,2023-09-01 00:39:04,1.0,1.62,1.0,N,162,236,1,8.6,1.0,0.5,2.00,0.0,1.0,15.60,2.5,0.00
3,2,2023-09-01 00:45:45,2023-09-01 00:47:37,1.0,0.74,1.0,N,141,229,1,5.1,1.0,0.5,1.00,0.0,1.0,11.10,2.5,0.00
4,2,2023-09-01 00:01:23,2023-09-01 00:38:05,1.0,9.85,1.0,N,138,230,1,45.0,6.0,0.5,17.02,0.0,1.0,73.77,2.5,1.75

In [37]:
df_Meteo_2023_09 = pd.read_excel('Datasets\open-meteo-40.74N74.04W51m.xlsx')
df_Meteo_2023_09

,time,apparent_temperature_min (°C),apparent_temperature_mean (°C),daylight_duration (s),precipitation_sum (mm),precipitation_hours (h)
0,2023-09-01,11.7,17.6,47160.35,0.0,0
1,2023-09-02,11.9,19.4,47003.84,0.0,0
2,2023-09-03,18.2,26.3,46846.68,0.3,2
3,2023-09-04,22.0,28.9,46688.99,1.2,1
4,2023-09-05,24.5,31.3,46530.85,0.0,0
5,2023-09-06,26.2,31.9,46372.38,0.0,0
6,2023-09-07,24.2,30.1,46213.67,3.8,2
7,2023-09-08,23.5,28.6,46054.82,14.3,8
8,2023-09-09,22.8,26.9,45895.92,8.5,9
9,2023-09-10,22.5,24.8,45737.07,18.1,11
10,2023-09-11,22.3,25.9,45578.37,2.8,11
11,2023-09-12,20.7,25.1,45419.90,0.2,2
12,2023-09-13,21.6,24.6,45261.76,17.1,14
13,2023-09-14,13.5,19.1,45104.05,0.0,0
14,2023-09-15,10.3,14.2,44946.46,0.0,0
15,2023-09-16,12.1,16.4,44788.02,0.0,0
16,2023-09-17,9.9,18.0,44628.74,0.5,4
17,2023-09-18,14.7,19.6,44468.74,13.9,15
18,2023-09-19,12.0,16.1,44308.11,0.0,0
19,2023-09-20,10.3,16.1,44146.96,0.0,0
20,2023-09-21,9.8,15.9,43985.39,0.0,0
21,2023-09-22,12.2,15.5,43823.50,0.0,0
22,2023-09-23,9.9,12.1,43661.38,42.3,19
23,2023-09-24,12.8,15.1,43499.12,17.5,21
24,2023-09-25,11.7,14.0,43336.85,17.4,20
25,2023-09-26,10.2,12.6,43174.63,8.4,12
26,2023-09-27,5.7,10.9,43012.58,0.0,0
27,2023-09-28,8.2,12.7,42850.80,0.2,2
28,2023-09-29,10.7,13.2,42689.37,69.8,21
29,2023-09-30,11.0,15.2,42528.40,1.0,3